/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
*{
    margin:0;
}
/* heading */
.banner{
    background: #E554731A;
    padding-top: 100px;
    padding-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1920px; */
    height: 850px;
    
}
.banner-flower{
    padding-right: 200px;
}
.flower-title{
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.flower-description{
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
}
.btn{
    margin-top: 20px;
    margin-bottom:100px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 3px;
    background: #E55473;
    color: #fff;
    border: 0px;
    }
    /* Flower Sample */
    .flower-sample{
    color: #272727;
    text-align: center;
    }

    .flower-item{
        width: 600px;
        height: 538px;
        /* flex-shrink: 0; */
        display: flex;
        justify-content: center;
        border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15);
    }



    .flower-sample-title{
        margin-top: 120px;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 800; 
    }
   
   .support-section{
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    margin-bottom: 130px;
    margin-top: 130px;
   }
   .support-images{
    padding-bottom: 30px;
   }
  .hot-deal-section{
    display: flex;
    align-items: center;
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
  }

   